*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.container{
    height: 100vh;
    weight: 100%;
    background-image: url(img/image.png);
    background-size: cover;
    background-position: center;
    position: relative;
}
.navber{
    width: 88%;
    margin: auto;
    padding: 15px, 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    width: 140px;
    cursor: pointer;
}
.navber ul li{
    list-style: none;
    display: inline-block;
    margin: 0 15px;
}
.navber ul li a{
    text-decoration: none;
    color: darkred;
    font-size: 15px;
}
.content{
    width: 100%;
    position: absolute;
    top: 30%;

}
.left-col{
    margin-left: 6%;
}
.left-col h1{
    font-size: 9 0px;
    color: #fff;
    line-height: 50px;
    float: left;
    margin-top: 40px;
}
.right-col{
    float: right;
    margin-right: 6%;
    display: flex;
    margin-top: 80px;
    align-items: center;
}
.right-col p{
    font-size: 18px;
    font-weight: 400;
    margin-right: 15px;
    color: #5f5f5f;
}
#icon{
    width: 80px;
    cursor: pointer;
}